@model MechSoftExample.Models.Meeting

@{
    ViewBag.Title = "Delete";
}

<h2>Toplantı Sil</h2>

<h3>Seçilen toplantıyı silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeetingTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>

        <dd>
            @{string tarih = Model.MeetingDate.ToShortDateString();}
            @Html.DisplayFor(model => tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingStartTime)
        </dt>

        <dd>
            @{ string startTime = Model.MeetingStartTime.ToString(@"hh\:mm");}
            @Html.DisplayFor(model => startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingEndTime)
        </dt>

        <dd>
            @{ string endTime = Model.MeetingEndTime.ToString(@"hh\:mm");}
            @Html.DisplayFor(model => endTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participant)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Toplantı Listesine Git", "Index")
        </div>
    }
</div>
